/* Day Selection */
.day-selection {
  flex-direction: column;
  margin-bottom: 10px;

  height: 100%;
  width: 100%;
}

.calendar-header {
  margin: 0 auto;
  grid-template-columns: repeat(7, 1fr);

  width: 90%;

  border: solid black 1px;
  border-bottom: none;
}

.calendar-body {
  margin: 0 auto;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(80px, 100px);

  height: auto;
  width: 90%;

  border: solid black 1px;
  border-top: none;
}

.day-name {
  padding: 2px;

  background-color: var(--primary-colour);
  border: solid black 1px;
}

.day-number {
  padding: 3px;

  background-color: var(--plain-colour);
  border: solid black 1px;
}

.day-number:hover {
  background-color: var(--plain-colour-dark3);

  cursor: pointer;
}

.day-number:active {
  background-color: var(--plain-colour-dark2);
}
