:root {
  --budget-cell-height: 32px;
  --title-header-height: 65px;
}

/* Header */
.header {
  height: var(--title-header-height);
  width: 100%;
  z-index: 9999;

  background-color: var(--primary-colour);
}

.header-title {
  padding: 5px;

  min-width: 200px;

  font-size: 1.5rem;
  font-family: var(--fonts);

  background-color: var(--primary-colour-light1);
  border-radius: 10px;
}

.header-space {
  padding-top: var(--title-header-height);
}

/* Main Body */
.calendar {
  width: 100%;
}

.card {
  margin: 20px;

  width: 90vw;

  font-family: var(--fonts);
}

.card button {
  height: 50px;

  font-size: 2rem;

  border: solid black 1px;
}

.card-header {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;

  max-width: 90%;
  width: 100%;
}

.card .title {
  margin: 0 auto;

  width: 70%;

  font-family: var(--fonts);
}
