:root {
  --modal-header-height: 50px;
}

dialog[open] {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;

  min-width: 500px;
  height: 70vh;
  width: 80vw;

  color: var(--background-text);

  background-color: var(--background-colour);

  overflow: hidden;
}

.modal-header {
  grid-template-columns: 1fr auto 1fr;
  position: sticky;
  top: 0px;
  padding: 5px;

  height: var(--modal-header-height);

  font-family: var(--fonts);
  color: var(--primary-text);

  background-color: var(--primary-colour);
  border-bottom: solid var(--primary-border) 3px;
  box-shadow: 0px -4px 10px 7px hsla(0, 0%, var(--background-box-shadow-light), 0.7);
}

.modal-back-button {
  margin-left: 10px;

  width: fit-content;
}

.back-button {
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: fit-content;

  color: inherit;
  font-family: Arial;
  font-size: 1.75rem;
  font-weight: 100;
  text-decoration: none;

  background-color: var(--transparent);
  border: none;
}

.modal-title {
  margin: 0 auto;
}

/* Modal body (settings) */
.modal-body {
  grid-template-columns: repeat(2, 1fr);
  padding: 2px;

  height: calc(100% - var(--modal-header-height) - 17px);
  min-height: 0;

  font-family: var(--fonts);

  overflow-y: auto;
}

.change-title {
  margin: 5px;
}

.description {
  display: flex;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 800;
  color: var(--background-text);
}
.description.header {
  position: static;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;

  width: 80%;

  color: var(--primary-text-light1);

  background-color: var(--primary-colour-light1);
  border: solid var(--background-border) 2px;
  box-shadow: 4px 7px 10px hsla(0, 0%, var(--background-box-shadow-light), 0.6);
}
.description.header p {
  margin: 0 auto;
  grid-column: 2;
  justify-self: center;
}
.description.header.add-category-mode {
  color: black;

  background-color: green;
}
.description.header.edit-category-name-mode {
  color: var(--primary-text-light1);

  background-color: var(--primary-colour-light1);
}
.description.header.remove-category-mode {
  color: black;

  background-color: red;
}

#categories-header-bg {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.new-title {
  margin: 5px;

  height: 30px;
  width: 40%;

  font-family: var(--fonts);
  font-size: 1rem;
  text-align: center;
  color: var(--tertiary-text-dark1);

  background-color: var(--tertiary-colour-dark1);
  border: solid var(--background-border) 2px;
  border-radius: 5px;
}

.edit-categories {
  flex-direction: column;
}

.edit-tools {
  grid-column: 3;
  justify-self: end;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;

  top: 14px;
  right: 10px;
}
.edit-tools button {
  padding: 0;
  margin: 0;

  font-size: 1.5rem ! important;
  font-weight: 900;
  text-align: center;
  color: var(--secondary-text);

  background-color: var(--secondary-colour);
  border: none;
  border-radius: 5px;
}
.edit-tools button:hover {
  color: var(--secondary-text-dark1);

  background-color: var(--secondary-colour-dark1);
}
.edit-tools button:active {
  color: var(--secondary-text-dark2);

  background-color: var(--secondary-colour-dark2);
}

.tool {
  width: 35px !important;
  height: 35px !important;

  text-align: center;
}

.categories {
  width: 100%;

  flex-wrap: wrap;
}

.category {
  margin: 5px;

  font-family: var(--fonts);

  border: solid var(--background-border) 1px;
  box-shadow: 3px 5px 10px hsla(0, 0%, var(--background-box-shadow-light), 0.6);
}
.category:hover {
  box-shadow: 4px 8px 13px hsla(0, 0%, var(--background-box-shadow-light), 0.7);
}
.category:active {
  box-shadow: 1px 2px 8px hsla(0, 0%, var(--background-box-shadow-light), 0.5);
}
.category.remove-confirm {
  color: black;

  background-color: red;
}

.new-category {
  margin: 5px;

  width: 100px;

  font-family: var(--fonts);
  text-align: center;
  color: var(--primary-text-light1);

  background-color: var(--primary-colour-light1);
  border: solid var(--background-border) 1px;
  box-shadow: 3px 5px 10px hsla(0, 0%, var(--background-box-shadow-light), 0.6);
}
.new-category:hover {
  box-shadow: 4px 8px 13px hsla(0, 0%, var(--background-box-shadow-light), 0.7);
}
.new-category:active {
  box-shadow: 1px 2px 8px hsla(0, 0%, var(--background-box-shadow-light), 0.5);
}
