/* Header */
.header {
  height: 60px;
  width: 100%;
  z-index: 9999;

  background-color: var(--primary-colour);
}

.header-title {
  font-size: 1.5rem;
  font-family: cursive, Arial;
}

.header-space {
  padding-top: 60px;
}

.back-button {
  left: 20px;
  padding-left: 5px;
  padding-right: 5px;

  color: inherit;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;

  background-color: var(--primary-colour);
  border: none;
}

/* Main Body */
.calendar {
  width: 100%;
}

.card {
  margin: 20px;

  width: 90vw;
}

.card button {
  height: 50px;

  font-size: 2rem;

  border: solid black 1px;
}

.card-header {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;

  max-width: 90%;
  width: 100%;
}

.card .title {
  margin: 0 auto;

  width: 70%;

  font-family: cursive, Arial;
}

/* Month Selection */
.month-selection {
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.calendar-month {
  margin: 0 auto;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(80px, 100px);

  width: 90%;

  border: solid black 1px;
}

.month-name {
  display: flex;

  align-items: center;
  justify-content: center;

  font-family: cursive, Arial;
  font-size: 1.5rem;
  font-weight: 700;

  background-color: var(--primary-colour-light1);
  border: solid black 1px;
}

.month-name:hover {
  background-color: var(--primary-colour-light2);

  cursor: pointer;
}

.month-name:active {
  background-color: var(--primary-colour-light3);
}

/* Day Selection */
.day-selection {
  flex-direction: column;
  margin-bottom: 10px;

  height: 100%;
  width: 100%;
}

.calendar-header {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  width: 90%;

  font-family: cursive, Arial;

  border: solid black 1px;
  border-bottom: none;
}

.calendar-body {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(80px, 100px);

  height: auto;
  width: 90%;

  font-family: cursive, Arial;

  border: solid black 1px;
  border-top: none;
}

.day-name {
  background-color: var(--primary-colour);
  border: solid black 1px;
}

.day-number {
  background-color: var(--plain-colour);
  border: solid black 1px;
}

.day-number:hover {
  background-color: var(--plain-colour-dark2);

  cursor: pointer;
}

.day-number:active {
  background-color: var(--plain-colour-dark1);
}

/* Budget Sheet */
