/* Header */
.header {
  height: 60px;
  width: 100%;
  z-index: 9999;

  background-color: var(--primary-colour);
}

.header-title {
  font-size: 1.5rem;
  font-family: cursive, Arial;
}

.header-space {
  padding-top: 60px;
}

.back-button {
  left: 20px;
  padding-left: 5px;
  padding-right: 5px;

  color: inherit;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;

  background-color: var(--primary-colour);
  border: none;
}

/* Main Body */
.card {
  width: 90vw;
}

.card button {
  height: 50px;

  font-size: 2rem;

  border: solid black 1px;
}

.card-header {
  margin-bottom: 30px;

  max-width: 90%;
  width: 100%;
}

.card .title {
  margin: 0 auto;
  width: 70%;

  font-family: cursive, Arial;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  max-width: 90%;
  width: 100%;

  font-family: cursive, Arial;
}

.calendar-grid > div {
  border: solid black 1px;
}

.day-name {
  background-color: var(--primary-colour);
}

/* Month Selection */
.month-selection {
  margin: 20px;

  height: 100px;
}

/* Day Selection */
.day-selection {
  margin: 20px;
}

/* Budget Sheet */
