.header {
  height: 60px;
  z-index: 9999;

  background-color: var(--primary-colour);
}

.header-title {
  font-size: 1.5rem;
  font-family: cursive, Arial;
}

.back-button {
  left: 20px;
  padding-left: 5px;
  padding-right: 5px;

  color: inherit;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;

  background-color: var(--primary-colour);
  border: none;
}
