:root {
  --budget-cell-height: 32px;
  --title-header-height: 65px;
}

/* Header */
.header {
  height: var(--title-header-height);
  width: 100%;
  z-index: 9999;

  background-color: var(--primary-colour);
}

.header-title {
  padding: 5px;

  min-width: 200px;

  font-size: 1.5rem;
  font-family: var(--fonts);

  background-color: var(--primary-colour-light1);
  border-radius: 10px;
}

.header-space {
  padding-top: var(--title-header-height);
}

.back-button {
  left: 20px;
  padding-left: 5px;
  padding-right: 5px;

  color: inherit;
  font-family: Arial;
  font-size: 1.75rem;
  font-weight: 100;
  text-decoration: none;

  background-color: inherit;
  border: none;
}

/* Modal (settings) */
.modal {
  height: 70vh;
  width: 80vw;

  background-color: var(--background-colour);
}

.modal-header {
  position: relative;
  padding: 5px;

  font-family: var(--fonts);

  background-color: var(--primary-colour);
}

.modal-back-button {
  position: absolute;
  justify-self: center;

  top: 10px;
  left: 15px;
}

.modal-title {
  margin: 0 auto;
}

/* Modal body (settings) */
.modal-body {
  padding: 2px;

  font-family: var(--fonts);
}

.change-title {
  flex-direction: column;
  margin: 5px;
}

.description {
  display: flex;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 70%;

  font-size: 1.25rem;
  font-weight: 800;

  background-color: var(--primary-colour-light1);
  border: solid black 1px;
  border-radius: 5px;
}

.new-title {
  margin: 5px;

  height: 30px;
  width: 40%;

  font-family: var(--fonts);
  font-size: 1rem;
  text-align: center;

  background-color: var(--plain-colour-dark1);
  border: solid black 2px;
  border-radius: 5px;
}

.edit-categories {
  flex-direction: column;
  margin: 5px;
}

.description.header {
  position: relative;

  background-color: var(--primary-colour-light1);

  transition: background-color 0.3s ease;
}

.description.header.add-category-mode {
  background-color: green;
}

.description.header.edit-category-name-mode {
  background-color: var(--primary-colour-light1);
}

.description.header.remove-category-mode {
  background-color: red;
}

.edit-tools {
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  gap: 5px;

  top: 14px;
  right: 10px;
}

.edit-tools button {
  padding: 0;
  margin: 0;

  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;

  background-color: var(--secondary-colour);
  border: none;
  border-radius: 5px;
}

.edit-tools button:hover {
  background-color: var(--secondary-colour-dark1);
}

.edit-tools button:active {
  background-color: var(--secondary-colour-dark2);
}

.categories {
  width: 100%;
}

.category {
  margin: 5px;

  font-family: var(--fonts);

  border: solid black 1px;
}

.category.remove-confirm {
  background-color: red;
}

.new-category {
  margin: 5px;

  width: 100px;

  font-family: var(--fonts);
  text-align: center;

  background-color: var(--primary-colour-light1);
  border: solid black 1px;
  box-shadow: 3px 5px 10px hsla(0, 0%, 0%, 0.6);
  transition: box-shadow 0.3s ease;
}

.new-category:hover {
  box-shadow: 4px 8px 13px hsla(0, 0%, 0%, 0.7);
}

.new-category:active {
  box-shadow: 1px 2px 8px hsla(0, 0%, 0%, 0.5);
}

/* Main Body */
.calendar {
  width: 100%;
}

.card {
  margin: 20px;

  width: 90vw;

  font-family: var(--fonts);
}

.card button {
  height: 50px;

  font-size: 2rem;

  border: solid black 1px;
}

.card-header {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;

  max-width: 90%;
  width: 100%;
}

.card .title {
  margin: 0 auto;

  width: 70%;

  font-family: var(--fonts);
}

/* Month Selection */
.month-selection {
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.calendar-month {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(80px, 100px);
  margin: 0 auto;
  margin-bottom: 10px;

  width: 90%;

  border: solid black 1px;
}

.month-name {
  display: flex;

  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  font-weight: 700;

  background-color: var(--primary-colour-light1);
  border: solid black 1px;
}

.month-name:hover {
  background-color: var(--primary-colour-light2);

  cursor: pointer;
}

.month-name:active {
  background-color: var(--primary-colour-light3);
}

/* Day Selection */
.day-selection {
  flex-direction: column;
  margin-bottom: 10px;

  height: 100%;
  width: 100%;
}

.calendar-header {
  margin: 0 auto;
  grid-template-columns: repeat(7, 1fr);

  width: 90%;

  border: solid black 1px;
  border-bottom: none;
}

.calendar-body {
  margin: 0 auto;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(80px, 100px);

  height: auto;
  width: 90%;

  border: solid black 1px;
  border-top: none;
}

.day-name {
  padding: 2px;

  background-color: var(--primary-colour);
  border: solid black 1px;
}

.day-number {
  padding: 3px;

  background-color: var(--plain-colour);
  border: solid black 1px;
}

.day-number:hover {
  background-color: var(--plain-colour-dark3);

  cursor: pointer;
}

.day-number:active {
  background-color: var(--plain-colour-dark2);
}

/* Budget Sheet */
.budget-sheet {
  width: 100%;
}

.table-header {
  margin: 0 auto;
  grid-template-columns: 4fr repeat(2, 1fr);
  width: 90%;

  border: solid black 1px;
  border-bottom: none;
}

.column-header {
  padding: 3px;

  background-color: var(--primary-colour);
  border: solid black 1px;
}

.table {
  margin: 0 auto;
  grid-template-columns: 4fr repeat(2, 1fr);

  width: 90%;

  border: solid black 1px;
  border-top: none;
}

.table button {
  height: inherit;

  font-size: 1rem;
}

.table button:hover {
  background-color: var(--plain-colour);
}

.cell {
  box-sizing: border-box;
  padding: 3px;

  min-height: var(--budget-cell-height);
  width: 100%;

  font: inherit;
  font-size: 1rem;

  background-color: var(--plain-colour-dark1);
  border: solid black 1px;
  border-radius: 0;
}

.cell.new {
  background-color: var(--overlay);
  border: dashed black 1px;
}

.cell:hover {
  background-color: var(--plain-colour);
}

.cell:focus-visible {
  outline: none;
  background-color: var(--plain-colour);
}
