:root {
  --budget-cell-height: 32px;
}

/* Header */
.header {
  height: 60px;
  width: 100%;
  z-index: 9999;

  background-color: var(--primary-colour);
}

.header-title {
  font-size: 1.5rem;
  font-family: cursive, Arial;
}

.header-space {
  padding-top: 60px;
}

.back-button {
  left: 20px;
  padding-left: 5px;
  padding-right: 5px;

  color: inherit;
  font-family: Arial;
  font-size: 1.75rem;
  font-weight: 100;
  text-decoration: none;

  background-color: var(--primary-colour);
  border: none;
}

/* Modal (settings) */
.modal {
  height: 70vh;
  width: 80vw;
}

.modal-header {
  position: relative;
  padding: 5px;

  font-family: cursive, Arial;

  background-color: var(--primary-colour);
}

.modal-back-button {
  position: absolute;
  justify-self: center;

  top: 11px;
  left: 15px;
}

.modal-title {
  margin: 0 auto;
}

/* Main Body */
.calendar {
  width: 100%;
}

.card {
  margin: 20px;

  width: 90vw;

  font-family: cursive, Arial;
}

.card button {
  height: 50px;

  font-size: 2rem;

  border: solid black 1px;
}

.card-header {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;

  max-width: 90%;
  width: 100%;
}

.card .title {
  margin: 0 auto;

  width: 70%;

  font-family: cursive, Arial;
}

/* Month Selection */
.month-selection {
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.calendar-month {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(80px, 100px);
  margin: 0 auto;
  margin-bottom: 10px;

  width: 90%;

  border: solid black 1px;
}

.month-name {
  display: flex;

  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  font-weight: 700;

  background-color: var(--primary-colour-light1);
  border: solid black 1px;
}

.month-name:hover {
  background-color: var(--primary-colour-light2);

  cursor: pointer;
}

.month-name:active {
  background-color: var(--primary-colour-light3);
}

/* Day Selection */
.day-selection {
  flex-direction: column;
  margin-bottom: 10px;

  height: 100%;
  width: 100%;
}

.calendar-header {
  margin: 0 auto;
  grid-template-columns: repeat(7, 1fr);

  width: 90%;

  border: solid black 1px;
  border-bottom: none;
}

.calendar-body {
  margin: 0 auto;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(80px, 100px);

  height: auto;
  width: 90%;

  border: solid black 1px;
  border-top: none;
}

.day-name {
  padding: 2px;

  background-color: var(--primary-colour);
  border: solid black 1px;
}

.day-number {
  padding: 3px;

  background-color: var(--plain-colour);
  border: solid black 1px;
}

.day-number:hover {
  background-color: var(--plain-colour-dark3);

  cursor: pointer;
}

.day-number:active {
  background-color: var(--plain-colour-dark2);
}

/* Budget Sheet */
.budget-sheet {
  width: 100%;
}

.table-header {
  margin: 0 auto;
  grid-template-columns: 4fr repeat(2, 1fr);
  width: 90%;

  border: solid black 1px;
  border-bottom: none;
}

.column-header {
  padding: 3px;

  background-color: var(--primary-colour);
  border: solid black 1px;
}

.table {
  margin: 0 auto;
  grid-template-columns: 4fr repeat(2, 1fr);

  width: 90%;

  border: solid black 1px;
  border-top: none;
}

.table button {
  height: inherit;

  font-size: 1rem;
}

.table button:hover {
  background-color: var(--plain-colour);
}

.cell {
  box-sizing: border-box;
  padding: 3px;

  min-height: var(--budget-cell-height);
  width: 100%;

  font: inherit;
  font-size: 1rem;

  background-color: var(--plain-colour-dark1);
  border: solid black 1px;
}

.cell.new {
  background-color: var(--overlay);
  border: dashed black 1px;
}

.cell:hover {
  background-color: var(--plain-colour);
}

.cell:focus-visible {
  outline: none;
  background-color: var(--plain-colour);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
}
