/* Header */
.header {
  height: 60px;
  width: 100%;
  z-index: 9999;

  background-color: var(--primary-colour);
}

.header-title {
  font-size: 1.5rem;
  font-family: cursive, Arial;
}

.header-space {
  padding-top: 60px;
}

.back-button {
  left: 20px;
  padding-left: 5px;
  padding-right: 5px;

  color: inherit;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;

  background-color: var(--primary-colour);
  border: none;
}

/* Main Body */
.card {
  width: 90vw;
}

.card button {
  height: 50px;

  font-size: 2rem;

  background-color: var(--primary-colour-light1);
  border: solid black 1px;
  box-shadow: 4px 5px 10px hsla(0, 0%, 0%, 0.8);
  transition: box-shadow 0.3s ease;
}

.card button:hover {
  background-color: var(--primary-colour-light2);
  box-shadow: 7px 9px 15px hsla(0, 0%, 0%, 0.8);
}

.card button:active {
  background-color: var(--primary-colour-light3);
  box-shadow: 5px 6px 12px hsla(0, 0%, 0%, 0.8);
}

.card-header {
  margin-bottom: 30px;

  max-width: 90%;
  width: 100%;
}

.card .title {
  margin: 0 auto;
  width: 70%;
}

/* Month Selection */
.month-selection {
  margin: 20px;

  height: 100px;
}

/* Day Selection */
.day-selection {
  margin: 20px;
}

/* Budget Sheet */
