.budgeting-options {
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  min-height: 150px;
}
.budgeting-options .card {
  padding: 15px;

  text-align: center;

  border: solid black 1px;
}
.budgeting-options .card h3 {
  margin-top: 5px;
}

.period-dropdown {
  height: 30px;

  font-family: var(--fonts);

  background-color: var(--plain-colour-dark1);
  border: solid black 2px;
  border-radius: 8px;
}
.period-dropdown:hover {
  background-color: var(--plain-colour);
}
.period-dropdown:focus-visible {
  background-color: var(--plain-colour);
}

.invalid {
  border: solid hsl(0, 100%, 50%) 3px;
}

.budget-amount {
  padding: 3px;
}

.submit-button {
  justify-self: center;
  position: absolute;
  right: 20px;
  top: 10px;

  color: inherit;
  font-family: Arial;
  font-size: 1.75rem;
  font-weight: 100;
  text-decoration: none;

  background-color: var(--transparent);
  border: none;
}