.period-options {
  margin: 5px;
  justify-content: space-between;
}
.period-options label {
  margin: 5px;
  padding: 5px;

  font-weight: 800;
}

.period-dropdown {
  margin: 5px;

  height: 30px;
  max-width: 100px;
  width: 100%;

  font-family: var(--fonts);
  color: var(--tertiary-text-dark1);

  background-color: var(--tertiary-colour-dark1);
  border: solid var(--background-border) 2px;
  border-radius: 8px;
}
.period-dropdown:hover {
  color: var(--tertiary-text);

  background-color: var(--tertiary-colour);
}
.period-dropdown:focus-visible {
  color: var(--tertiary-text);

  background-color: var(--tertiary-colour);
}

.invalid {
  border: solid hsl(0, 100%, 50%) 3px;
}

.amount {
  margin: 5px;
  justify-content: space-between;
}
.amount label {
  margin: 5px;
  padding: 5px;

  font-weight: 800;
}

.budget-amount {
  padding: 3px;
  margin: 5px;
  
  width: 150px;
  
  border-color: var(--background-border);
}

.submit-button {
  margin-right: 10px;
  margin-left: 0 auto;

  color: inherit;
  font-family: Arial;
  font-size: 1.75rem;
  font-weight: 100;
  text-decoration: none;

  background-color: var(--transparent);
  border: none;
}
