.header {
  top: 0px;
  z-index: 9999;

  height: var(--title-header-height);
  width: 100vw;
  
  color: var(--primary-text);

  background-color: var(--primary-colour);
}

.header-title {
  padding: 5px;

  font-family: var(--fonts);
  font-size: 1.75rem;
  font-weight: 700;

  border-radius: 12px;
}

.header-space {
  padding-top: var(--title-header-height);
}
