.header {
  top: 0px;
  z-index: 9999;

  height: var(--title-header-height);
  width: 100vw;

  color: var(--primary-text);

  background-color: var(--primary-colour);
  border-bottom: solid var(--background-border) 2px;
  box-shadow: 0px -4px 10px 7px hsla(0, 0%, var(--background-box-shadow-light), 0.7);
}

.header-title {
  padding: 5px;

  font-family: var(--fonts);
  font-size: 1.75rem;
  font-weight: 700;

  border-radius: 12px;
  border-color: var(--primary-border);
  box-shadow: 3px 5px 10px hsla(0, 0%, var(--primary-box-shadow-light), 0.6);
}
.header-title:hover {
  box-shadow: 4px 8px 13px hsla(0, 0%, var(--primary-box-shadow-light), 0.7);
}
.header-title:active {
  box-shadow: 1px 2px 8px hsla(0, 0%, var(--primary-box-shadow-light), 0.5);
}

.header-space {
  padding-top: var(--title-header-height);
}
