/* Budget page */
.budgets-page {
  flex-direction: column;
  position: relative;

  margin: 25px;
  padding: 25px;
}

/* Add budget button */
.open-settings-button {
  margin-left: auto;
  margin-bottom: 25px;

  height: 50px;
  width: 90px;

  color: inherit;
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;

  border: solid var(--background-border) 2px;
  border-radius: 25px;
  box-shadow: 0 4px 10px hsla(0, 0%, var(--background-box-shadow-light), 0.4);
}
.open-settings-button:hover {
  box-shadow: 4px 8px 13px hsla(0, 0%, var(--background-box-shadow-light), 0.7);
}
.open-settings-button:active {
  box-shadow: 1px 2px 8px hsla(0, 0%, var(--background-box-shadow-light), 0.5);
}

/* Budgets list */
.budgets-list {
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  gap: 10px;
}
.budgets-list a {
  padding: 10px;
  font-family: var(--fonts);

  border: solid var(--background-border) 2px;
  border-radius: 10px;
  box-shadow: 4px 7px 10px hsla(0, 0%, var(--background-box-shadow-light), 0.6);
}
.budgets-list a:hover {
  box-shadow: 4px 8px 13px hsla(0, 0%, var(--background-box-shadow-light), 0.7);
}
.budgets-list a:active {
  box-shadow: 1px 2px 8px hsla(0, 0%, var(--background-box-shadow-light), 0.5);
}

.sheet-title {
  overflow-wrap: break-word;
}
