body {
  flex-direction: column;

  font-family: cursive, Arial;

  /* Conisder adding an image as a background*/
}

.titleBox {
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 20px;
  width: 500px;

  background-color: var(--secondary-colour);
  border: 12px solid black;
  border-radius: 100px;
}

h1 {
  text-align: center;
  vertical-align: middle;

  font-size: 4rem;
}

.button {
  font-size: 3rem;
  min-width: 460px;
  padding: 30px;

  font-family: cursive, Arial;

  background-color: hsl(0, 92%, 75%);
  border: 5px solid black;
  border-radius: 100px;

  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: hsl(0, 92%, 50%);

  font-weight: bold;
}