/* Navbar */
.navbar {
  top: 0px;
  z-index: 9999;

  height: 100px;
  width: 100vw;

  background-color: var(--secondary-colour);
}

.navbar-title {
  font-family: cursive, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.navbar-space {
  padding-top: 100px;
}

.hamburger {
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 35%;
  left: 20px;

  height: 30px;
  width: 40px;

  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 4px;

  background: black;
  border-radius: 3px;
}

/* Sidebar */
.sidebar {
  left: -250px;
  top: 0px;
  z-index: 9998;

  width: 250px;
  height: 100vh;

  background-color: var(--secondary-colour);

  transition: left 0.3s ease;
}

.sidebar-labels {
  position: inherit;
  top: 140px;
  width: inherit;
}

.sidebar.open {
  left: 0px;
}

.sidebar-labels div {
  align-items: center;
  display: flex;
  justify-content: center;

  height: 50px;

  font-family: cursive, Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;

  background-color: var(--secondary-colour-light1);
}

.sidebar-labels div:hover {
  background-color: var(--secondary-colour-light2);

  cursor: pointer;
}

.sidebar-labels div:first-child {
  border-top: 2px solid black;
}

.sidebar-labels div:last-child {
  border-bottom: 2px solid black;
}

/* Budget page */
.budgets-page {
  position: relative;

  margin: 50px;
  padding: 25px;

  border: solid black 2px;
  border-radius: 20px;
}

.add-budget-button {
  margin-left: auto;

  height: 50px;
  width: 90px;

  font-size: 2rem;

  background-color: var(--secondary-colour-light1);
  border-radius: 25px;
}

.add-budget-button:hover {
  background-color: var(--secondary-colour-light2);
}