.navbar {
  z-index: 9999;

  height: 100px;
  width: 100vw;

  background-color: var(--secondary-colour);
}

.navbar-title {
  font-family: cursive, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.hamburger {
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 35%;
  left: 20px;

  height: 30px;
  width: 40px;

  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 4px;
  background: black;
  border-radius: 3px;
}

.sidebar {
  z-index: 9998;

  /* left: -200px; */
  width: 250px;
  height: 100vh;

  background-color: var(--secondary-colour);
}

.sidebar-labels {
  position: inherit;
  top: 140px;
  width: inherit;
}

.sidebar-labels div {
  align-items: center;
  display: flex;
  justify-content: center;

  height: 50px;

  font-family: cursive, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;

  background-color: var(--secondary-colour-light1);
}

.sidebar-labels div:hover {
  background-color: var(--secondary-colour-light2);
  cursor: pointer;
}

.sidebar-labels div:first-child {
  border-top: 2px solid black;
}

.sidebar-labels div:last-child {
  border-bottom: 2px solid black;
}