.navbar {
  justify-content: center;

  height: 110px;
  width: 100vw;

  background-color: var(--secondary-colour);
}

.navbar-title {
  font-family: cursive, Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 650;
}

.hamburger {
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 35%;
  left: 20px;

  height: 30px;
  width: 40px;

  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 4px;
  background: black;
  border-radius: 3px;
}
