:root {
  --background-colour: hsl(200, 100%, 95%);

  --primary-colour: hsl(51, 100%, 50%);
  --primary-colour-light1: hsl(51, 100%, 80%);
  --primary-colour-light2: hsl(51, 100%, 70%);
  --primary-colour-light3: hsl(51, 100%, 60%);

  --secondary-colour: hsl(209, 100%, 78%);
}
