body {
  background-color: var(--background-colour);
}

button:hover {
  cursor: pointer;
}

.align-items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.display-none {
  display: none;
}

.justify-content-center {
  justify-content: center;
}

.margin-zero {
  margin: 0;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
}

.padding-zero {
  padding: 0;
}

.position-fixed {
  position: fixed;
}

.custom-button {
  background-color: var(--primary-colour-light1);
  box-shadow: 3px 5px 10px hsla(0, 0%, 0%, 0.6);
  transition: box-shadow 0.2s ease;
}

.custom-button:hover {
  background-color: var(--primary-colour-light2);
  box-shadow: 4px 8px 13px hsla(0, 0%, 0%, 0.7);
}

.custom-button:active {
  background-color: var(--primary-colour-light3);
  box-shadow: 1px 2px 8px hsla(0, 0%, 0%, 0.5);
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;

  height: auto;

  background-color: var(--secondary-colour);
  border-radius: 30px;
  box-shadow: 2px 8px 15px hsla(0, 0%, 10%, 0.2);
}
