body {
  background-color: var(--background-colour);
}

button:hover {
  cursor: pointer;
}

.align-items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.hide-display {
  display: none;
}

.justify-content-center {
  justify-content: center;
}

.margin-zero {
  margin: 0;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
}

.padding-zero {
  padding: 0;
}

.position-fixed {
  position: fixed;
}
