:root {
  --primary-colour: hsl(200, 100%, 95%);

  --secondary-colour: hsl(51, 100%, 54%);
  --secondary-colour-light1: hsl(51, 100%, 80%);
  --secondary-colour-light2: hsl(51, 100%, 70%);
}

body {
  background-color: var(--primary-colour);
}

button:hover {
  cursor: pointer;
}

.align-items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.hide-display {
  display: none;
}

.justify-content-center {
  justify-content: center;
}

.margin-zero {
  margin: 0;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
}

.padding-zero {
  padding: 0;
}

.position-fixed {
  position: fixed;
}