:root {
  --background-colour: hsl(200, 100%, 95%);
  --background-text: black;
  --transparent: hsl(0, 0%, 0%, 0);

  --primary-colour: hsl(51, 100%, 50%);
  --primary-colour-light1: hsl(51, 100%, 80%);
  --primary-colour-light2: hsl(51, 100%, 70%);
  --primary-colour-light3: hsl(51, 100%, 60%);

  --primary-text: black;
  --primary-text-light1: black;
  --primary-text-light2: black;
  --primary-text-light3: black;

  --secondary-colour: hsl(200, 100%, 90%);
  --secondary-colour-dark1: hsl(200, 100%, 80%);
  --secondary-colour-dark2: hsl(200, 100%, 70%);
  --secondary-colour-dark3: hsl(200, 100%, 60%);

  --secondary-text: black;
  --secondary-text-dark1: black;
  --secondary-text-dark2: black;
  --secondary-text-dark3: black;

  --tertiary-colour: hsl(0, 0%, 100%);
  --tertiary-colour-dark1: hsl(0, 0%, 95%);
  --tertiary-colour-dark2: hsl(0, 0%, 90%);
  --tertiary-colour-dark3: hsl(0, 0%, 80%);

  --tertiary-text: black;
  --tertiary-text-dark1: black;
  --tertiary-text-dark2: black;
  --tertiary-text-dark3: black;

  --overlay: hsla(0, 0%, 100%, 0.3);
}

:root {
  --title-header-height: 75px;
  --fonts: cursive, Arial, Helvetica, sans-serif;
}
