/* Single-change classes */
body {
  background-color: var(--background-colour);
}

a:hover, button:hover {
  cursor: pointer;
}

.align-items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.justify-content-center {
  justify-content: center;
}

.margin-zero {
  margin: 0;
}

.no-select {
  user-select: none;
}

.padding-zero {
  padding: 0;
}

.position-fixed {
  position: fixed;
}

.display-none {
  display: none;
}

/* Custom classes */
.custom-button {
  background-color: var(--primary-colour-light1);
  border-radius: 5px;
  box-shadow: 3px 5px 10px hsla(0, 0%, 0%, 0.6);

  transition: box-shadow 0.2s ease;
  user-select: none;
  will-change: box-shadow, background-color;
}

.custom-button:hover {
  background-color: var(--primary-colour-light2);
  box-shadow: 4px 8px 13px hsla(0, 0%, 0%, 0.7);
}

.custom-button:active {
  background-color: var(--primary-colour-light3);
  box-shadow: 1px 2px 8px hsla(0, 0%, 0%, 0.5);
}

.custom-input {
  background-color: var(--plain-colour-dark1);
  border: solid black 2px;
  border-radius: 5px;
}

.custom-input:hover {
  background-color: var(--plain-colour);
}

.custom-input:focus-visible {
  outline: none;
  background-color: var(--plain-colour);
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;

  height: auto;

  background-color: var(--secondary-colour);
  border-radius: 30px;
  box-shadow: 2px 8px 15px hsla(0, 0%, 10%, 0.2);
}

/* Quality of Life */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
}
